@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow: hidden;
}

body{
  overflow: hidden;
  width:100vw;
  height: 100dvh;
  background-color: #000;
  background-image: url("/images/bg.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

a,.btn{
  transition: color .2s ease;
}

a:hover,.btn:hover{
  text-decoration: none;
  color: #EA580C;
}

body::after{
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  background: linear-gradient(to right, #000000 0%, rgba(0,0,0,.3) 50%, #000000 100%);
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  margin:0 auto;
  position: relative;
  z-index: 1;
  color: #fff;
  height: 100%;
}

.menu h1{
  font-family: 'Newsreader';
  font-size: 140px;
}

.menu-nav{
  display: flex;
  width: 100%;
  font-family: 'Jura';
  justify-content: space-between;
  padding: 24px;
  gap:16px;
  z-index: 4;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

.menu .menu-nav{
  box-shadow: none;
}

.right-nav{
  display: flex;
  gap:16px;
}

.menu-card .menu-nav .btn{
  color: #000000;
}

.btn{
  cursor: pointer;
  background: none;
  border-radius: 0px;
  font-size: 16px;
  color: white;
  border:none;
  font-family: 'Jura';
  font-weight: bold;
}

.menu-details p{
  font-family: 'Jura';
  font-size: 20px;
  color:white;
  display: flex;
  gap:32px;
}

.menu-card{
  width: 100vw;
  height: 100dvh;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: end;
  pointer-events: none;
}

.menu-card.show{
  pointer-events: all;
}

.menu-card-back{
  display: none;
  background-color: rgba(0,0,0,.3);
  width: 100vw;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
}

.menu-card.show .menu-card-back{
  animation: show .2s;
  display: block;
}

.menu-card-details{
  position: relative;
  height: 100dvh;
  width: 55vw;
  transform:translateX(10000px);
  background-color: #FEF2F2;
  z-index: 3;
  transition: transform .65s;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #8f8f8f #dddddd;
  scrollbar-gutter: unset;
  scrollbar-width: thin;
}

.menu-card.show .menu-card-details{
  transform:translateX(0);
}

@keyframes show {
  from{display: none;}
  to{display: block;}
}

#close.btn{
  top:32px;
  left:32px;
  color:black;
  z-index: 2;
}

.menu-card-prices{
  padding:32px;
  display: flex;
  flex-direction: column;
  gap:32px;
}

.menu-card-prices h2{
  font-family: 'Newsreader';
  font-size: 174px;
  color:#EA580C;
  position: relative;
  z-index: 1;
}

.menu-card-prices h4{
  font-family: "Jura";
  color: #555454;
}
.menu-card-prices{
  position: relative;
}

.card-title{
  position: relative;
}

#about-title, #booking-title{
  font-size: 120px;
  line-height: 120px;
}

#booking-title{
  font-size: 100px;
  line-height: unset;
}

.image-background{
  right: 0px;
  bottom:0px;
  transition: transform .2s;
}


.image-background{
  position: absolute;
  width: 400px;
  height: 533px;
  transform: translate(120px,400px);
  object-fit: cover;
}

.events{
  max-width: 50%;
}

.events .paragraph h3{
  font-size: 30px;
}

.events-hall{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  gap:16px;
}

.event-hall-info{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.event-hall-info p{
  font-family: 'Jura';
  font-size: 16px;
  color:#867171;
}

.event-hall-info img{
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.event-hall-cotizacion{
  font-family: 'Jura';
  font-size:16px;
  color:#867171;
}

form{
  font-family: 'Jura';
}

#cotizacion{
  font-family: 'Jura';
}

.price{
  top:32px;
  left: 32px;
}

.form-group{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
}

.form-group input,.form-group select{
  border: none;
  width: 100%;
  appearance: none;
  outline: #555454;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  color:#000;
}

.form-group .select-wrapper{
  position:relative;
}

.form-group .select-wrapper::before{
  content: '\25BC'; /* or '\25BC' */
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

form h4{
  color:#EA580C !important;
}


@media screen and (width<=1200px){
  .image-background{
      transform: translate(140px,400px);
  }
}

@media screen and (width<=1100px){
  .image-background{
    transform: translate(200px,400px);
  }
}


.all-dishes{
  display:flex;
  flex-direction: column;
  gap:16px;
}

.dish{
  gap:8px;
  font-family: "Jura";
  max-width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

span.separator{
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: #bebebe;
  border-radius: 10px;
}

.dish-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.dish-name span{
  font-size: 14px;
}

img{
  border-radius: 8px;
}

.image{
  border-radius: 8px;
  width: 50%;
  height: 170px;
  object-fit: cover;
}

#map{
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  border-radius: 8px;
}

.paragraph{
  font-family: 'Newsreader';
  font-size: 14px;
}

.paragraph h3{
  font-size: 56px;
  font-family: 'Newsreader';
  line-height: 50px;
  color:#642706;
}

.paragraph p{
  text-wrap:pretty;
  font-family: 'system-ui';
}

.paragraph .image{
  float: right;
  margin-left: 12px;
  margin-bottom: 12px;
}

.image.left{
  margin:0;
  float: left;
  margin-right: 12px;
}

.booking{
  font-size: 130px !important;
}

.menu-details h1{
  line-height: 100px;
}

.menu-details{
  padding:28px;
  display:flex;
  flex-direction: column;
  gap:4px;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 16px;
  align-items: center;
}

.social-links a i{
  display: flex;
  align-items: center;
  justify-content: center;
}

.user{
  display: flex;
  gap: 8px;
  padding-right: 8px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
}

.user img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user .btn-logout{
  color: white;
  height: 20px;
  width: 20px;
}

.user .btn-logout img{
  width: 20px;
  height: 20px;
}

@media screen and (width<=900px) {
  .social-links{
    position: static;
  }
}


.go-to-action{
  color:white;
  display: flex;
  z-index: 1;
}

.icon{
  display: inline-block;
  width: 40px;
  color:inherit;
  height: 40px;
}

@media screen and (width<=768px) {
  .user img{
    width: 30px;
    height: 30px;
  }

  .menu-nav .btn{
    font-size: 13px;
  }

  #booking-title{
    font-size: 56px;
  }

  #about-title{
    font-size: 85px;
    line-height: 75px;
  }

  .menu-details h1{
      font-size: 80px;
  }

  .menu-details p{
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 16px;
  }

  .menu-card-details{
      width: 100vw;
  }

  .card-title h2{
      font-size: 120px;
  }

  .image-background{
    display: none;
  }

  .menu-card-prices h2{
      font-size: 120px;
  }

  .menu-card-prices h4{
      font-size: 32px;
  }

  .dish{
      max-width: 100%;
  }

  .paragraph{
      display: flex;
      flex-direction: column;
      gap: 16px;
  }

  .paragraph .image{
      float: none;
      width: 100%;
      margin: 0;
      height: fit-content;
  }

  .events{
      max-width: 100%;
  }

  .events-hall{
      display: flex;
      flex-direction: column;
      gap: 16px;
  }

  form{
      max-width: 100%;
  }
}


@media screen and (width<=478px) {
  .menu-nav .btn{
    font-size: 12px;
  } 

  .right-nav{
    gap:10px;
  }
}


.chat.hide{
  transform: translateY(440px);
}

.chat{
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  right: 16px;
  z-index:1;
  width: 400px;
  max-height: 500px;
  height: 100%;
  border-radius: 8px;
  background-color: #e7e5e5;
  overflow: hidden;
  transition: transform 1s ease;
}

.chat-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 60px;
  background-color: #EA580C;
  color:#fff;
  font-size:14px;
}

.chat-header h3{
  font-weight: bold;
}

.chat-header span{
  font-weight: lighter;
}

.chat-wrapper{
  display:flex;
  flex-direction: column;
  flex:1;
  min-height: 0%;
}

.chat-wrapper .chat-messages{
  flex:1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap:8px;
}

.chat-message.loading{
  display:flex;
  gap:4px;
}

.chat-message.loading span{
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: black;
  display: block;
  animation: bounce infinite .2s alternate;
}

.chat-message.loading span:first-child{
  animation-delay: .1s;
}

.chat-message.loading span:nth-child(2){
  animation-delay: .2s;
}

@keyframes bounce{
  0%{
    translate: 0px 0px;
  }
  100%{
    translate: 0px -4px;
  }
}

.chat-wrapper form{
  display: flex;
  gap:16px;
  padding:16px;
  background-color: #FEF2F2;
}

.chat-wrapper form textarea{
  background-color: #bebebe;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  resize: none;
  max-height: 200px;
  overflow-y: hidden;
}

.chat-wrapper form button{
  background-color: #EA580C;
  border: none;
  border-radius: 50px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.chat-wrapper form button .icon{
  width: 20px;
  height: 20px;
  color: #fff;
}

.chat-message{
  font-size: 12px;
  background-color: #fff;
  width: fit-content;
  padding:8px;
  border-radius: 8px;
}

.chat-message.user{
  align-self: flex-end;
  background-color: #EA580C;
  color: #fff;
}